@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  font-family: "Lato", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333;
  overflow-x: hidden; /* Remove horizontal scroll */
}

.container {
  width: 90%; /* Ajustado para melhor visualização em dispositivos móveis */
  max-width: 600px; /* Limite de largura para dispositivos grandes */
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; /* Ensure the header is above other elements */
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 15px;
  border-bottom: 1px solid #c8cdda;
}

.icon-container {
  padding-left: 5px;
  padding-right: 32px;
  overflow: hidden; /* Esconde qualquer overflow */
  display: flex; /* Para alinhamento correto dos ícones */
  align-items: center; /* Alinha verticalmente os ícones */
}




.menu-icon {
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  left: 0;
  padding-left: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding-bottom: 10px;
}

.logo img {
  max-width: 100px;
  height: auto;
}

.spacer {
  width: 24px; /* Same width as menu icon to balance the layout */
}

.hero {
  background-color: #fff;
  color: #333;
  padding: 70px 0 10px; /* Add top padding to compensate for fixed header */
  text-align: center; /* Centralizar o conteúdo */
  overflow-x: hidden;
}

.hero h1 {
  font-size: 3rem; /* Definir tamanho da fonte como 24px */
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 60px; /* Definir altura da linha como 32px */
  text-align: left; /* Alinhar texto à esquerda */
  margin-bottom: 35px;
}


.hero form {
  display: flex;
  justify-content: start;
  align-items: center;
}

.hero form input {
  padding: 12px; /* Aumentar o espaçamento interno do input */
  font-size: 14px; /* Tamanho da fonte */
  border: 1px solid #ccc; /* Cor da borda */
  border-radius: 5px; /* Borda arredondada à esquerda */
  width: 400px; /* Largura do input */
  box-sizing: border-box;
  outline: none;
  margin-right: 6px;
}
/* Remover o fundo azul do input no estado focado */
.hero form input:focus {
  background-color: transparent; /* Remove o fundo azul */
  border-color: #ccc; /* Mantenha a cor da borda original */
  outline: none; /* Remove a borda de destaque */
}


/* Botão de pesquisa redondo com ícone */
#search-button {
  padding: 12px; /* Ajuste conforme necessário */
  font-size: 24px; /* Tamanho do ícone */
  border: none;
  background-color: #1b85f4; /* Cor do botão */
  color: #fff; /* Cor do ícone */
  cursor: pointer;
  border-radius: 50%; /* Tornar o botão redondo */
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

#search-button:hover {
  background-color: #1a77da; /* Cor do botão ao passar o mouse */
}


.features {
  background-color: #ffffff;
  padding: 10px 0;
  text-align: center;
  overflow-x: hidden;
}

.feature {
  background-color: #7b7879;
  color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 25px;
  margin: 20px auto;
  border-radius: 10px;
  text-align: left;
}

.feature h2 {
  margin-top: 0;
  font-weight: 600;
  font-size: 24px;
}

.feature p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}

footer {
  background-color: #fff;
  color: #8c8a8a;
  overflow-x: hidden;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #c8cdda
}

footer p {
  margin: 0;
}

#tracking-result {
  padding-top: 1.2rem;
  font-size: 1.4rem;
  overflow-x: hidden;
}

.tracking-result-error {
  color: red;
  font-weight: normal;
  overflow-x: hidden;

}

@media (max-width: 400px) {
  /* .hero h1 {
    font-size: 1.2em; /* Menor para melhor ajuste em telas pequenas */
  } */

  .hero p {
    font-size: 14px; /* Ajustar o tamanho da fonte para 14px em telas pequenas */
  }

  .feature {
    padding: 20px;
    margin: 15px auto;
    font-size: 16px; /* Reduzindo o tamanho da fonte nas caixas de recursos */
  }

  .feature h2 {
    font-size: 20px; /* Tamanho reduzido para títulos */
  }

  .feature p {
    font-size: 16px; /* Tamanho reduzido para texto */
  }
}
